
{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

      {{ dump(post) }}

      <ul>    
      {% for i in post %}
         <li> {{ i.id }} - {{ i.titulo|e }} - {{ i.contenido|e }} </li>
      {% endfor %}    
      </ul>
{% endblock %}