{% extends 'base.html.twig' %}

{% block title %}    
{{ parent() }} 
{% endblock %}

{% block body %}
{{ parent() }}    

    <div class="example-wrapper">
        <h1> Listado de Post - Página Principal</h1>    

        <ul>        
            {% for i in post %}
                    <li> {{ i.nombre|e }} - {{ i.titulo|e }} - {{ i.contenido|e }} - {{ i.foto }}  </li>                                    
                <div>
                    <img class="rounded" src="{{ asset('uploads/fotos/' ~ i.foto) }}" width="150px" height="100px">
                    <a href="{{ asset('uploads/fotos/' ~ i.foto) }}" target="_blank">Ver PDF</a>
                </div>
                </hr>
                <h2>Imagen con marco Iframe</h2>
                <div>
                    <iframe src="{{ asset('uploads/fotos/' ~ i.foto) }}" width="150px" height="100px">                        
                    </iframe>
                </div>

            {% endfor %}
        </ul>

    </div>
{% endblock %}
